<template>
    <div>
        <h2 class="main-title">Contact presse</h2>
        <h3>N’hésitez pas à contacter notre équipe presse :</h3>
        <p class="footer-contact">Elodie : elodie@pascalevenot.com</p>
        <p class="footer-contact">Margot : margot@pascalevenot.com</p>
        <p class="footer-contact">ou au 01.53.53.44.54</p>
        <p class="footer-contact">Nous vous partagerons les dernières actualités de Tediber et répondrons à toutes vos questions.</p>  
    </div>
</template>

<script>
export default {
    name:'Footer'
}
</script>

<style lang="scss" scoped>
    h3{
        text-transform: uppercase;
        margin: 30px auto;
        font-weight: 400;
        font-size: 20px;
    }    
    .footer-contact{
        padding: 5px 0;
        font-weight: 100;   
        &:last-child{
            max-width: 350px;
            margin: 20px auto;
        }
    }
</style>