<template>
    <header>
        <h1 class="main-title">Ce que l'on dit de nous</h1>
        <p>Découvrez les incroyables articles et publications qui parlent de tediber.</p>
    </header>
</template>

<script>
export default {
    name: 'Header'
}
</script>

<style lang="scss" scoped>

    header{
        background: #152045;
        padding: 50px 0;
        color: white;
        p{
            text-transform: uppercase;
            max-width: 415px;
            margin: 0 auto;
            font-weight: 400;
            font-size: 20px;
            @media screen and(max-width: 450px){
                max-width:100%;
                padding: 10px;
            }
        }
    }
    
</style>