<template>
    <div>
        <div class="mobile-nav">
            <div class="burger" v-on:click="triggermenu" :class="'open-'+this.showMobileNav">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="logo">
                <img src="/static/bear.png" alt="Tediber">
            </div>
        </div>
        <nav class="main-nav" v-show='showNav'>
            <div class="left-utils">
                <img src="/static/main-logo.png" alt="Tediber">
            </div>
            <div class="left-nav">
                <a href="#">Nos produits</a>
                <a href="#">Le concept</a>
                <a href="#">Avis</a>
            </div>
            <div class="center">
                <img src="/static/bear.png" alt="Tediber">
            </div>
             <div class="right-nav">
                <a href="#">Pub tv</a>
                <a href="#">Blog</a>
                <a href="#">Mon compte</a>
                <a href="tel:+0186954710">01 86 95 47 10</a>
                
            </div>
            <div class="right-utils">
                <img src="/static/cart.png" alt="Panier">
            </div>
        </nav>
 
 
    </div>
</template>

<script>

export default {
    name: "Navbar",
    data: () =>{
        return{
            showNav: true,
            windowWidth: 0,
            showMobileNav: false
        }
    },
    mounted(){
        this.$nextTick(function() {
            window.addEventListener('resize', this.getWindowWidth);
            this.getWindowWidth()
        })
    },
    methods: {
        triggermenu(){
            console.log('rr');
            this.showNav = (this.showNav === true) ? false : true
            this.showMobileNav = (this.showMobileNav === true) ? false : true
        },
        getWindowWidth(event) {
            this.windowWidth = document.documentElement.clientWidth;  
            console.log((this.windowWidth < 1000))  
            this.showNav = (this.windowWidth < 1000 && this.showMobileNav === false) ? false : true
        },
    },
}
</script>

<style lang="scss">
    .mobile-nav{
        display: none;
        background: white;
        padding: 10px;
        justify-content: space-between;
        .burger{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;
            span{
                display: block;
                width: 20px;
                height: 2px;
                background: #00002e;
                margin: 2px auto;
                transition: transform 0.3s ease-out;
            }
            &.open-true{
                span{
                    &:first-child{
                        display: none;
                    }
                    &:nth-child(2){
                        transform: rotate(45deg);
                    }
                    &:nth-child(3){
                        transform: rotate(-45deg);
                        margin-top: -4px;
                    }
                }
                
                
            }
        }
        @media screen and(max-width: 1000px){
            display: flex;
        }
    }
    nav{
        display: flex;
        background: white;
        padding: 10px;
        justify-content: space-between;
        @media screen and(max-width: 1000px){
            width: 100%;
            min-height: 100vh;
            flex-direction: column; 
            justify-content: flex-start;
        }
        div{
            align-self: center;
            display: flex;
            @media screen and(max-width: 1000px){
                justify-content: center;
                flex-direction: column; 
            }
        }
        .left-utils{
            @media screen and(max-width: 1000px){
                padding-bottom: 20px;
            }
            
        }
        .center{
            @media screen and(max-width: 1000px){
                display: none;
            }

        }
        a{
            color: #00002e;
            padding: 15px;
            text-decoration: none;
            transition: opacity 0.3s ease-out;
            text-transform: uppercase;
            &:hover{
                opacity: 0.75;
            }
        }
    }
    
</style>