<template>
    <section class="carousel-ctn">
        <div class="ctn">
            <h2 class="main-title">{{title}}</h2>
            <span class="nav-slider prev-slider" v-on:click="sliderPrev" >
                <img src="../assets/arrow-yellow.png" alt="Précédent">
            </span>
            <carousel ref="myButton" :dots="false" :loop="true" :margin="50" :stagePadding="20" :responsive="{0:{items:1},750:{items:2},1200:{items:3}}" class="carousel">
                <article v-for="(article, index) in data" :key="index">
                    <div class="top">
                        <div class="left">{{article.date | convertDate}}</div>
                        <div class="right"><h4>{{article.type}}</h4></div>
                    </div>
                    <div class="content">
                        <img :src="'/static/logos/'+article.logo+'.png'" :alt="article.name" class="logo">
                        <h2>{{article.name}}</h2>
                        <h3>{{article.title}}</h3>
                        <p>{{article.body}}</p>
                        <a :href="article.url" class="btn">{{cta}}</a>
                    </div>
                </article>
            </carousel>
            <span class="nav-slider next-slider" v-on:click="sliderNext">
                <img src="../assets/arrow-yellow.png" alt="Suivant">
            </span>
        </div>
    </section>
</template>

<script>
import carousel from 'vue-owl-carousel'
import moment from 'moment'


export default {
    name:'Slider',
    components:{
        carousel
    },
    props: {
        title: String,
        data: Array,
        cta: String,
        id: String
    },
    methods:{
         findAncestor: function (el, cls) {
            while ((el = el.parentElement) && !el.classList.contains(cls));
            return el;
        },
        sliderPrev: function (e){
            let parent = this.findAncestor(e.target, 'carousel-ctn');
            parent.querySelector('.owl-prev').click()
          
        },
        sliderNext: function(e){
            let parent = this.findAncestor(e.target, 'carousel-ctn');
            parent.querySelector('.owl-next').click()
        }
    },
    filters:{
        convertDate: (date)=>{
            return moment(date, "YYYY-MM-DD").format("DD.MM.YY");
        }
    }
}
</script>

<style lang="scss" scoped>
    .main-title{
        margin-top: 50px;
    }
</style>

<style lang="scss" >
    .ctn{
        position: relative;
        .nav-slider{
            position: absolute;
            top: 50%;
            translate: translateY(-50%);
            cursor: pointer;
            transition: opacity 0.3s ease-out;
            img{
                @media screen and(max-width: 800px) {
                    width: 40px;
                    height: 40px;
                }
            }
            
            &:hover{
                opacity: 0.75;
            }
            &.prev-slider{
                left:2.5%;
            }
            &.next-slider{
                right:2.5%;
                transform: rotate(180deg)
            }
        }
    }
    
    .carousel{
        width: 80%;
        margin: 25px auto 75px auto;
        position: relative;
        .owl-nav{
            display: none;
        }
        .owl-stage-outer{
            margin: -20px -10px;
            padding: 20px 10px;
        }
        article{
            text-align: center;
            box-shadow: -1px 1px 5px #b7b7b7;
            height: 450px;
            padding: 10px 30px;
            @media screen and(max-width: 800px) {
                height: 500px;
            }
            .top{
                display: flex;
                justify-content: space-between;
                .left{
                    align-self: center; 
                }
                .right{
                    background: #1b204a;
                    padding: 12.5px 25px 7.5px 30px;
                    margin-right: -45px;
                    text-align: right;
                    position: relative;
                    font-size: 17.5px;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -15px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 15px 15px 0 0;
                        border-color: #1b204a transparent transparent transparent;
                    }
                    h4{
                        color: white;
                        text-transform: uppercase;
                        margin: 0;
                    }
                }
            }

            .content{
                padding: 25px 0;
                h2{
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: #00002e; 
                }
                h3{
                    font-size: 17.5px;
                    font-weight: 800;
                    padding: 20px 0;  
                    color: #00002e;  
                }
            }
            .logo{
                max-height: 50px;
                width: auto;
                margin: 25px auto;
            }
            .btn{
                color: white;
                text-decoration: none;
                background: #f9aa55;
                text-transform: uppercase;
                padding: 12.5px 25px 7.5px 25px;
                font-weight: 800;
                position: fixed;
                bottom: 30px;
                left: 20%;
                right: 20%;
                transition: opacity 0.3s ease-out;
                font-weight: 400;
                font-size: 20px;
                &:hover{
                    cursor: pointer;
                    opacity: 0.75;
                }
            }
        }
    }
</style>