
@font-face {
    font-family: 'Canterbold';
    font-style: normal;
    font-weight: 800;
    src:  url('/static/fonts/Canter-Bold.woff') format('woff');
    src:  url('/static/fonts/Canter-Bold.otf') format('otf');
    src:  url('/static/fonts/Canter-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'GillSans';
    src: url('/static/fonts/GillSans-Medium.woff2') format('woff2'),
        url('/static/fonts/GillSans-Medium.woff') format('woff'),
        url('/static/fonts/GillSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('/static/fonts/GillSans-Bold.woff2') format('woff2'),
        url('/static/fonts/GillSans-Bold.woff') format('woff'),
        url('/static/fonts/GillSans-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('/static/fonts/GillSans-Light.woff2') format('woff2'),
        url('/static/fonts/GillSans-Light.woff') format('woff'),
        url('/static/fonts/GillSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
