<template>
  <div id="app">
    <Navbar />
    <Header/>
    <Slider title="Presse écrite" :data="press" cta="Lire la suite" />
    <Slider title="Contenus web" :data="internet" cta="Découvrir"/>
    <Slider title="Télévision" :data="television" cta="Visionner"/>
    <Slider title="Radio" :data="radio" cta="Ecouter"/>
    <Footer />

  </div>
</template>

<script>

import { press } from '../static/press.json'
import Header from './components/Header'
import Slider from './components/Slider'
import Navbar from './components/Navbar'
import Footer from './components/Footer'


export default {
  name: 'App',
  components: {
    Header, Slider, Navbar, Footer
  },
  data:()=>{
    return{
      television_categories:['M6', 'BFM', 'Télévision', "Canal +"],
      presse_categories: ["Journal", "Magazine"],
      internet_categories: ["Site internet", "Blog"],
      radio_categories: ["Radio"],
    }
  },
  computed:{
    press: function() {
      return press.filter(d => this.presse_categories.includes(d.type))
    },
    internet: function(){
      return press.filter(d => this.internet_categories.includes(d.type))
    },
    radio: function(){
      return press.filter(d => this.radio_categories.includes(d.type))
    },
    television: function(){
      return press.filter(d => this.television_categories.includes(d.type));
    }
  },
}
</script>

<style lang="scss">

  .main-title{
    position: relative;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Canterbold';
    margin: 0;
    padding-bottom: 50px;
    @media screen and(max-width: 675px) {
        font-size: 50px;
    }
    &::after{
      content: '';
      background: url("../static/wave.svg") no-repeat;
      width: 120px;
      height: 20px;
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
    }
  }
  #app {
    font-family: 'GillSans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #1b204a;
  }
</style>
